## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Tiksi,RU,71.6872,128.8694,-12.42,91,19,10.47,few clouds
1,1,Qaanaaq,GL,77.4840,-69.3632,-8.28,70,76,6.76,broken clouds
2,2,Mar Del Plata,AR,-38.0023,-57.5575,64.87,72,0,1.99,clear sky
3,3,Verkhnevilyuysk,RU,63.4453,120.3167,-15.18,98,100,1.03,overcast clouds
4,4,Saskylakh,RU,71.9167,114.0833,-17.45,93,20,3.02,few clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Busselton,AU,-33.6500,115.3333,81.05,46,0,9.48,clear sky
7,7,Nabire,ID,-3.3667,135.4833,86.54,63,96,3.80,overcast clouds
8,8,Vaini,TO,-21.2000,-175.2000,86.16,74,40,8.05,scattered clouds
11,11,Muswellbrook,AU,-32.2667,150.9000,82.24,36,60,4.47,broken clouds
14,14,Geraldton,AU,-28.7667,114.6000,84.61,61,0,5.75,clear sky
...,...,...,...,...,...,...,...,...,...,...
688,688,Tautira,PF,-17.7333,-149.1500,86.02,78,72,16.53,light rain
692,692,Turbo,CO,8.0937,-76.7269,77.13,91,99,8.46,overcast clouds
694,694,Bairiki,KI,1.3292,172.9752,86.00,70,20,8.05,few clouds
695,695,Innisfail,AU,-17.5333,146.0333,79.70,83,76,12.75,broken clouds
696,696,Bathsheba,BB,13.2167,-59.5167,77.61,73,75,16.11,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
clean_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = clean_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Busselton,AU,-33.6500,115.3333,81.05,46,0,9.48,clear sky
7,7,Nabire,ID,-3.3667,135.4833,86.54,63,96,3.80,overcast clouds
8,8,Vaini,TO,-21.2000,-175.2000,86.16,74,40,8.05,scattered clouds
11,11,Muswellbrook,AU,-32.2667,150.9000,82.24,36,60,4.47,broken clouds
14,14,Geraldton,AU,-28.7667,114.6000,84.61,61,0,5.75,clear sky
...,...,...,...,...,...,...,...,...,...,...
688,688,Tautira,PF,-17.7333,-149.1500,86.02,78,72,16.53,light rain
692,692,Turbo,CO,8.0937,-76.7269,77.13,91,99,8.46,overcast clouds
694,694,Bairiki,KI,1.3292,172.9752,86.00,70,20,8.05,few clouds
695,695,Innisfail,AU,-17.5333,146.0333,79.70,83,76,12.75,broken clouds
696,696,Bathsheba,BB,13.2167,-59.5167,77.61,73,75,16.11,broken clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Busselton,AU,81.05,clear sky,-33.6500,115.3333,
7,Nabire,ID,86.54,overcast clouds,-3.3667,135.4833,
8,Vaini,TO,86.16,scattered clouds,-21.2000,-175.2000,
11,Muswellbrook,AU,82.24,broken clouds,-32.2667,150.9000,
14,Geraldton,AU,84.61,clear sky,-28.7667,114.6000,
16,Maragogi,BR,79.83,few clouds,-9.0122,-35.2225,
18,Avarua,CK,75.25,light rain,-21.2078,-159.7750,
23,San Rafael,AR,75.15,scattered clouds,-34.6177,-68.3301,
24,Lorengau,PG,83.98,overcast clouds,-2.0226,147.2712,
25,Rikitea,PF,79.00,clear sky,-23.1203,-134.9692,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Busselton,AU,81.05,clear sky,-33.6500,115.3333,Observatory Guest House
7,Nabire,ID,86.54,overcast clouds,-3.3667,135.4833,Hotel Nusantara Nabire
8,Vaini,TO,86.16,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
11,Muswellbrook,AU,82.24,broken clouds,-32.2667,150.9000,Wayfarer Motel
14,Geraldton,AU,84.61,clear sky,-28.7667,114.6000,Broadwater Mariner Resort
...,...,...,...,...,...,...,...
688,Tautira,PF,86.02,light rain,-17.7333,-149.1500,Pension Oaoa
692,Turbo,CO,77.13,overcast clouds,8.0937,-76.7269,Hotel Plaza Manfortt
694,Bairiki,KI,86.00,few clouds,1.3292,172.9752,Tarawa Boutique Hotel
695,Innisfail,AU,79.70,broken clouds,-17.5333,146.0333,Moondarra Motel
696,Bathsheba,BB,77.61,broken clouds,13.2167,-59.5167,Atlantis Hotel

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))